/* VARIABLES */
:root {
    --primary-bg: #1A1A1A;
    --secondary-bg: #444444;
    --primary-text: #F0F0F0;

    --action-color: #EF5350;
    --drama-color: #42a5f5;
    --comedy-color: #ffb74d;
    --horror-color: #e0e0e0;
    --fantasy-color: #ba68c8;
    --default-color: #757575;
}

/* GLOBAL */
body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background: #2C2C2C;
    color: var(--primary-text);
}

/* HERO */
.Hero {
    height: 75vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 10px;

    background: var(--primary-bg);
}

/* GALLERY */
#top3 > .gallery{ 
    justify-content: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 3vw;

    margin: 0 auto;
    padding: 32px;
    background: var(--primary-bg);
}

/* MOVIE CARD */
.movie {
    background: var(--primary-bg);
    border-radius: 16px;
    text-align: center;
    height: auto;
}
.movie > img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    border-radius: 12px 12px 0 0;
}
#top3 > .movie{
    width: 300px; 
}
.rating-1{ 
    width: 180px; 
}
.rating-2{ 
    width: 211px; 
}
.rating-3{ 
    width: 247px; 
}
.rating-4{ 
    width: 290px; 
}
.rating-5{ 
    width: 340px; 
}

/* GENRE BORDER COLORS */
.genre-action{ 
    border: 4px solid var(--action-color);
    box-shadow: 0 0 10px var(--action-color);
}
.genre-drama{ 
    border: 4px solid var(--drama-color);
    box-shadow: 0 0 10px var(--drama-color)
}
.genre-comedy{ 
    border: 4px solid var(--comedy-color); 
    box-shadow: 0 0 10px var(--comedy-color);
}
.genre-horror{ 
    border: 4px solid var(--horror-color); 
    box-shadow: 0 0 10px var(--horror-color);
}
.genre-fantasy{ 
    border: 4px solid var(--fantasy-color);
    box-shadow: 0 0 10px var(--fantasy-color); 
}
.genre-default{ 
    border: 4px solid var(--default-color);
    box-shadow: 0 0 10px var(--default-color); 
}



/* TEXT STYLING */
.review {
    padding: 0 13px;
    font-size: 15px;
    line-height: 23px;
}
.section-title {
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}
.movie-title {
    margin-top: 13px;
    font-size: 19px;
}